.chat-list{
    width: 260px;
    height: 100%;
    position: fixed;
    background-color: #2b3139;
}
.search-container{
    position: relative;
    padding: {
        top:20px;
        left: 25px;
        bottom: 20px;
        right: 25px;
    };
    border-bottom: 1px solid #3e444a;
    .search-input{
        width: 100%;
        height: 40px;
        border-radius: 40px;
        border:none;
        background-color: #363d45;
        color: #fff;
        padding: {
            left: 40px;
            right: 20px;
        };
    }
    
    .search-icon{
        position: absolute;
        top: 20px;
        left: 25px;
        width: 40px;
        height: 40px;
        padding: 12px;
    }
}