.message-panel {
    float: left;
    width: calc(100% - 650px);
    height: 100%;
    background: linear-gradient(30deg, #fff 0%, #e5e8ee 40%);
    > {
        .header {
            height: 80px;
            width: 100%;
            border-bottom: 1px solid #d1d4d8;

            > {
                .title {
                    float: left;
                    width: calc(100% - 160px);
                    color: #63686d;
                    height: 80px;
                    line-height: 60px;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                        left: 40px;
                        right: 40px;
                    }
                    border-right: 1px solid #d1d4d8;
                    b {
                        color: #45494d;
                        cursor: pointer;
                    }
                }
                .important {
                    float: left;
                    width: 80px;
                    height: 80px;
                    border-right: 1px solid #d1d4d8;
                    padding: 27px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: #d1d4d8f0;
                    }
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
                .call {
                    float: left;
                    width: 80px;
                    height: 80px;
                    padding: 27px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    &:hover {
                        background-color: #d1d4d8f0;
                    }
                    svg {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
        .messaging-area {
            height: calc(100% - 160px) !important;
            width: 100%;
            > div {
                display: flex;
                align-items: flex-end;
                flex-direction: column-reverse;
            }
        }
    }
}
.message {
    position: relative;
    display: block;
    width: 100%;
    min-height: 80px;
    padding: {
        left: 20px;
        right: 20px;
    }
    &.me {
        .avatar {
            float: right;
        }
        .text {
            float: right;
            background-color: #0084ff;
            color: #fff;
            box-shadow: 5px 0px 50px 1px rgba(0, 0, 0, 0.15);
            &::before {
                left: unset;
                right: -10px;
                border-right: 0;
                border-left: 10px solid #0084ff;
            }
        }
    }
    .avatar {
        width: 60px;
        height: 60px;
        padding: 10px;
        float: left;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
        .time {
            color: #63686d;
        }
    }
    .text {
        position: relative;
        width: auto;
        float: left;
        user-select: text;
        margin: {
            left: 20px;
            right: 20px;
            top: 5px;
            bottom: 5px;
        }
        min-height: 60px;
        background-color: #fff;
        box-shadow: -5px 0px 50px 1px rgba(0, 0, 0, 0.15);
        padding: {
            top: 20px;
            left: 20px;
            right: 20px;
            bottom: 20px;
        }
        border-radius: 5px;
        &::before {
            content: "";
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: -10px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;

            border-right: 10px solid #fff;
        }
    }
    &.system {
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        min-height: unset;
        .avatar {
            display: none;
        }
        .text {
            background: rgba(0, 0, 0, 0.39);
            color: #fff;
            padding: 10px;
            min-height: unset;
            margin: 0 auto;
            &::before {
                display: none;
            }
        }
    }
}
.text-area {
    min-height: 80px;
    background-color: #fff;
    border-top: 1px solid #d1d4d8;
    display: flex;
    flex-grow: 1;
    > {
        .attachment,.send {
            width: 80px;
            height: 80px;
            padding: 28px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #d1d4d862;
            }
        }
    }
    .react-input-emoji--container {
        margin: 0;
        min-height: 80px;
        display: flex;
        border: none;
        .react-input-emoji--placeholder{
            left: 0;
            width: 100%;
        }
        .react-input-emoji--input {
            left: 0;
            width: 100%;
            padding: 0;
            line-height:78px;
            font-size: 18px;
        }
    }
    .react-input-emoji--button{
        width: 80px;
        height: 80px;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover{
            background-color: #d1d4d862;
        }
    }
}
