@use './components/app/frame/frame.scss';
@use './components/app/chat/ChatList.scss';
* {
	box-sizing: border-box;
	outline: none;
	user-select: none;
}

html {
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;

	body {
		font-family: 'Roboto';
		padding: 0;
		margin: 0;
		position: absolute;
		width: 100%;
		height: 100%;

		.root {
			position: absolute;
			width: 100%;
			height: 100%;
			.app-container{
				position: fixed;
				width: calc(100% - 80px);
				left: 80px;
				top: 0;
				bottom: 0;
				right: 0;
				transition: all 0.3s ease-in-out;
				&.menu-open{
				width: calc(100% - 310px);
				left: 310px;
				}
			}
		}
	}
}